
<div class="flex-col-center wholeLike">
	<div class="like thumbs">
		<a href="{{path('app_answer_rating',{'id':answer.id,'score':-1})}}" class="plus like"><i class="fa-solid fa-thumbs-up fa-2xl" ></i></a>
		<a href="{{path('app_answer_rating',{'id':answer.id,'score':-1})}}" class="minus like"><i class="fa-solid fa-thumbs-down fa-2xl" ></i></a>
	</div>
	<div class="like numbers">
		<span class="likesNumber">{{answer.likes}}</span>
		<span class="dislikesNumber">{{answer.dislikes}}</span>
	</div>
	
</div>