{% extends "base.html.twig"%}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('layout') }}
{% endblock %}


{% block main %}
	<div class="sidebar flex-col-center">
		<div class="askAQuestion">
			<a href={{path('app_question_form')}}>Poser une question</a>
		</div>
		<a href="{{path('app_index')}}" {% if (app.request.pathinfo()==path('app_index')) %} class="active sideItem" {% else %} class="sideItem" {% endif %}>Liste des questions</a>
	</div>
	<div class="specific">
		{% block specific %}
			Rien à afficher pour le moment
		{% endblock %}
	</div>
{% endblock %}